<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net452" />
  <package id="LinqToExcel" version="1.10.1" targetFramework="net452" />
  <package id="log4net" version="1.2.10" targetFramework="net452" />
  <package id="Microsoft.DocAsCode.YamlSerialization" version="2.5.4" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net452" />
  <package id="YamlDotNet.Signed" version="3.9.0" targetFramework="net452" />
  <package id="YamlSerializer" version="1.0" targetFramework="net452" />
</packages>